
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');


*{
    margin: 0;
    padding: 10px;
    background-position: center;
}
body{
    background-size: cover;
    text-align:center ;

}
h1{
    color: blue;
    font-weight: bold;
    position: top;
    top:0px;
    
}
p{
    color: chartreuse;
    font-weight: bold;
    font-size: x-large;
    padding-top: 200px;
    padding: 0px;
    
}
.icon{
    color: blue;
    font-size: 50px;
    padding-top: 50px;
    float: left;
}
.content{
        width: 400px;
        float: left;
        height: 70px;
      
        
    }
    ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    ul li a{
        text-decoration: none;
        text-align: left;
        font-family: 'Franklin Gothic Medium';
        color: darkgoldenrod;
        font-weight: bolder;
        
    }
    ul li{
        list-style: none;
        margin-left: 61px;
        padding-bottom: 100px;
    }
    